@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: rgb(15, 87, 15);
  --secondary-color: rgb(224, 173, 45);
  --background-color: #f4f4f4c9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-display: swap;
}
p {
  margin: 0;
  font-family: "Poppins";
  line-break: auto;
  font-display: swap;
}
header{
  position: fixed;
  width: 100%;
   top: 0;
  left: 0;
  z-index: 1000; 
}
body {
  position: relative;
  font-family: Arial, sans-serif;
  font-display: swap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: var(--background-color);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 20px 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.logo a{
  font-family: "Imperial Script" ;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: var(--primary-color);
}
.nav-links {
  display: flex;
  align-self: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0px 40px;
}

li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins";
  color: black;
}

.cart-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 40px;
  transform: translateY(70%);
}
.cart_container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart-item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-details,
.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cart-actions {
  display: flex;
  gap: 12px;
}
input {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}
.subtract-btn,
.add-btn {
  border: none;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}


.buyBtn {
  width: 100%;
  padding: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}


button {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}
.purchase-modal.active {
  display: flex;
  flex-direction: column;
  transform: translateY(-10%);
  transition: transform 0.5s ease-out;

}
.purchase-modal {
  display: none;
  flex-direction: column;
  background-color: white;
  justify-self: center;
  max-width: 400px;
  padding: 30px;
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  gap: 16px;

}

.purchase-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.purchase-content h1 {
  color: var(--primary-color);
}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  width: fit-content;
  padding: 8px;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
}
